[push]
autoSetupRemote = true

[includeIf "gitdir:~/Dev/personal/"]
path = ~/Dev/personal/.gitconfig.personal

[includeIf "gitdir:~/Dev/work/"]
path = ~/Dev/work/.gitconfig.work

[core]
excludesfile = ~/.gitignore

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
